:root{
    --light-color    : #ffffff48;
    --team-1         : #006dd4;
    --team-2         : #db2020;
    --guess          : #e4b700;
    --guess-back     : #6ccc61;
    --hint           : #fffa;
    --test           : #a6a6a6;
    --test-l         : #dddddd;
    --card-header-fg : #000;
    --card-header-bg : #fff;

    --card-thickness : 0.25mm;
    --card-pl-height : 3cm;
    --card-pl-width  : 1.7cm;
    --card-gs-height : 4cm;
    --card-gs-width  : 2.4cm;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;

    /* border: 1px solid #0002; */
}

html,
body{
    font-family: 'Arial';
}

/*==================================================================
                            resets
==================================================================*/
a{
    text-decoration: none;
}

li{
    margin-left: 1.5rem;
}

input{
    border: 0;
    background: #0000;
}

button{
    border: none;
    background: #0000;
    cursor: pointer;
}

/*==================================================================
                            text
==================================================================*/
.title{
    font-size: clamp(2rem, 7dvw ,4.2rem);
    font-weight: bold;
    margin: 1rem 0;
}
.subtitle{
    font-size: clamp(1.1rem, 3dvw ,1.3rem);
    font-weight: normal;
    margin-bottom: 1rem;
}
.hint{
    font-weight: normal;
    color: var(--hint);
    margin-bottom: 1rem;
}

/*==================================================================
                            header
==================================================================*/
header{
    min-height: 90dvh;
    /* padding: 0.5rem 1rem; */
    font-size: 1.3rem !important;
    display: flex;
    flex-direction: column;
    position: relative;

    color: var(--card-header-bg);
    background: linear-gradient(45deg, var(--team-1), var(--team-2), var(--guess), var(--guess-back));
    background-size: 400% 400%;
    animation: gradientAnimation 15s infinite;
}
header::after{
    content: '';
    background-color: var(--light-color);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
}
header > *{
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
    padding: 0.5rem 1rem;
}

header > section{
    padding: 3rem;
    display: flex;
    flex-grow: 1;
}
header > section .hero{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
header > section .hero .description{
    max-width: 600px;
}
header > section .hero .description > * {
    margin-bottom: 5px;
}
header > section .hero .description .btn.call-to-action {
    margin-right: 5px;
}
header > section .hero .game-img img{
    object-fit: contain;
    transform:rotateY(180deg) rotateZ(-10deg) ;
    width: 100%;
    max-width: 450px;
    filter: drop-shadow(0px 25px 25px #0006);
    animation: bounce 3s ease-in-out infinite ;
}

/*==================================================================
                            main
==================================================================*/
main{
    padding: 1rem 0 0;
    position: relative;
}
main #paper{
    padding: 1rem;
}
main > section:not(#tutorial-sec){
    padding: 0 1rem;
}

main > section .title{
    text-align: center;
}

/*==================================================================
                            footer
==================================================================*/
footer{
    font-size: .7rem;
    color: #0007;
    text-align: center;
    padding: .5rem 0;
}

/*===================================================
                       MESSAGE BOX  
===================================================*/
.message-box{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background: #0004;
    width: 100%;
    height: 100%;
    /* display: flex; */
    display: none;
}
.message-box .content{
    padding: 30px 0;
    margin: auto;
    width: 450px;
    aspect-ratio: 3/2;
    background: #fff;
    border-bottom: 5px solid;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.message-box .content > div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.message-box i::after{
    font-size: 5rem !important;
}
.message-box.success i::after{
    content: '\f058';
    color: #6ccc61;
}
.message-box.error i::after{
    content: '\f057';
    color: #fb4646;
}
.message-box.warn i::after{
    content: '\f071';
    color: #fbd446;
}
.message-box .msg{
    margin-top: 20px;
    text-align: center;
}
.message-box button{
    margin: 20px 0 0;
}
.message-box button.btn.ok{
    background-color: #6ccc61;
    color: #fff;
}
.message-box button.btn.cancel{
    color: #f34949;
}

/*==================================================================
                            row
==================================================================*/
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 280px;
}
.row:nth-child(even){
    background-color: #0003;
}
.row.reverse{
    flex-direction: row-reverse;
}
.row > div {
    width: 50%;
}
.row .img-container {
    display: flex;
    justify-content: right;
}
.row.reverse .img-container{
    justify-content: left;
}
.row .img-container img{
    object-fit: contain; 
    width: 230px;
}

/*==================================================================
                            inputs
==================================================================*/
label, input{cursor: pointer;}
label{border-bottom: 1px solid #0000;}
label:hover{border-bottom: 1px solid #000;}

.btn{
    display: inline-block;
    padding: .5rem 1rem !important;
    background-color: #fffb;
    border: none;
    border-bottom: 2px solid;
    border-radius: 5px;
    transition: .5s ease-in-out;
    cursor: pointer;
    font-size: clamp(.8rem 2vw 1.5rem);
}
.btn:hover{
    background-color: #fff;
    border-bottom: 2px solid #fffb;
}
.btn[for^="card-gs"]{
    color:var(--guess) !important;
}

.btn.call-to-action{
    /* max-width: 200px; */
    margin-top: 1rem;
    color: #000 !important;;
}

.link{
    color: var(--team-1);
    position: relative;
}
.link::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--team-1);
}
.link:hover.link::after{
    animation: spring .5s ease-in-out 1;
}

/*==================================================================
                            TEAM
==================================================================*/
.team-wrapper{
    border-radius: 20px;
    padding: 1rem 1rem 0.15rem;
    margin-bottom: 1rem ;
    color: white;
}
.team{
    border-radius: .5rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
    gap: 1rem;
}
.team-wrapper .team-name{
    text-transform: uppercase;
}

.front-back-wrapper{
    display: flex;
    align-items: center;
}

.card-bound{
    border-right: var(--card-thickness) solid black;
}

/*==================================================================
                            CARDS
==================================================================*/
.gw-card{
    padding: calc(var(--card-pl-width) * 0.08);
}
.gw-card.big{
    padding: calc(var(--card-gs-width) * 0.08);
}

.gw-card.small{
    width  : var(--card-pl-width);
    height : var(--card-pl-height);
}

.gw-card.big{
    width  : var(--card-gs-width);
    height : var(--card-gs-height);
}

.gw-card .wrapper{
    height: 100%;
    border-radius: calc(var(--card-pl-width) * 0.05);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.gw-card.big .wrapper{
    border-radius: calc(var(--card-gs-width) * 0.05);
}

.gw-card-header{
    width: 100%;
    border-radius: inherit;
    font-size: calc(var(--card-pl-width) * 0.13);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: calc(var(--card-pl-width) * 0.05) 0;
    color:var(--card-header-fg);
    background-color: var(--card-header-bg);
    word-wrap: break-word;
}
.big .gw-card-header{
    font-size: calc(var(--card-gs-width) * 0.13);
    padding:   calc(var(--card-gs-width) * 0.03);
}

.gw-card img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: bottom;
}

.gw-card .logo{
    margin: auto;
    font-size: var(--card-pl-width);
    font-weight: bold;
    color:#a31111;
    -webkit-text-stroke-color: var(--card-header-bg);
    -webkit-text-stroke-width: calc(var(--card-pl-width) * 0.02);
    text-shadow: 0px 0px calc(var(--card-pl-width) * 0.1) #000;
}

.big.gw-card .logo{
    font-size: var(--card-gs-width);
    -webkit-text-stroke-width: calc(var(--card-gs-width) * 0.02);
    text-shadow: 0px 0px calc(var(--card-gs-width) * 0.1) #000;
}

/*============================================================
                        TUTORIALS
============================================================*/

.ratio{
    height: 230px;
    width:  230px;
    border: 5px dashed var(--team-2);
    display: flex;
    align-items: end;
    position: relative;
}
.ratio::after,
.ratio::before{
    position: absolute;
    text-align: center;
    padding: .3rem 0;
}

.ratio::before{
    content: '\2190  5 \2192';
    top:50%;
    left: .9rem;
    transform: translate(-50%, -50%) rotate(-90deg);

}
.ratio::after{
    content: '\2190  4 \2192';
    width: 100%;
    top:0;
}
.ratio img{
    display: block;
    object-fit: contain;
    height: 75%;
}

#tutorial-sec .row{
    padding: 1rem 10%;
}

#tutorial-sec .ratio{
    animation: resize-ratio 4s ease-in-out alternate infinite;
}

#tutorial-sec #card-example .gw-card{
    --card-gs-height : 4cm;
    --card-gs-width  : 2.4cm;
    animation: resize 8s ease-in-out infinite;
}

/*==================================================================
                          drag and drop
==================================================================*/
#dropArea {
    background-color: #0002;
    display: flex;
    height: 400px;
    padding: 1.5rem;
    position: relative;
}
#dropArea::after{
    --pad:6px;
    content: '';
    position: absolute;
    top: var(--pad); left: var(--pad);
    width : calc(100% - var(--pad) * 2);
    height: calc(100% - var(--pad) * 2);
    border: 3px dashed #fff;
}
#dropArea *{
    position: relative;
    z-index: 2;
}
#dropArea i{
    display: block;
    margin-bottom: 1rem;
}
#dropArea i::before{
    font-size: 4rem !important;
}

#dropArea.dragover {
    background-color: #f0f0f0;
}

#dropArea #fileInput{
    display: none;
}

#dropArea p{
    margin: auto;
    text-align: center;
    line-height: 2;
}

/*==================================================================
                            Preview
==================================================================*/

#preview-sec #paper{
    padding: 0 !important;
}

#preview-sec #editor{
    background-color: #0002;
}

#preview-sec #editor .filters,
#preview-sec #editor .sizes{
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 10px;
    position: relative;
    z-index: 1;
    padding: 0.5rem 1rem;
    color: black !important;
}

#preview-sec #editor .sizes .input-wrapper{
    display: flex;
    gap : 10px;
    flex-grow: 1;
    /* flex-basis: 28rem; */
}
#preview-sec #editor .sizes .input-wrapper .input-container{
    width: 100%;
}

#preview-sec #editor .sizes .input-wrapper .input-container label{
    margin-top: 5px;
    display: flex;
    gap : 10px;
    align-items: center;
    width: 100%;
    color: #000;
}
#preview-sec #editor .sizes .input-wrapper .input-container label input{
    flex-grow: 1;
    width: 70px;
}

#preview{
    background: #0002;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#preview .img-wrap {
    position: relative;
    border-radius: 11px;
    border: 3px dashed ;
    padding: 2px;
}
#preview .img-wrap:hover{
    border-color: var(--team-2);
}
#preview .img-wrap button {
    position: absolute;
    top:0;
    right: 0;
    transform: translate(50%, -50%);
    padding: 0 !important;
    aspect-ratio: 1/1;
    width: 25px;
}
#preview .img-wrap img {
    display: block;
    width: 100%;
    max-height: 120px;
    aspect-ratio: 4/5;
    object-fit: cover;
    border-radius: 8px;
    overflow: hidden;
}

#print{
    width: 100%;
    background-color: #0002;
    /* border-radius: ; */
}

/*==================================================================
    CARD TEAMS
 team-1
 team-2
 guess
==================================================================*/
.team-1{
    background: var(--team-1);
}
.team-1 .team{
    background-color: var(--light-color);
}
.team-1-gradient{
    background: -webkit-radial-gradient(
        circle,
        var(--team-1)    0%, var(--team-1)      5%,
        var(--light-color)  5%, var(--light-color)   10%,
        var(--team-1)   10%, var(--team-1)     15%,
        var(--light-color) 15%, var(--light-color)   20%,
        var(--team-1)   20%, var(--team-1)     25%,
        var(--light-color) 25%, var(--light-color)   30%,
        var(--team-1)   30%, var(--team-1)     35%,
        var(--light-color) 35%, var(--light-color)   40%,
        var(--team-1)   40%, var(--team-1)     45%,
        var(--light-color) 45%, var(--light-color)   50%,
        var(--team-1)   50%, var(--team-1)     55%,
        var(--light-color) 55%, var(--light-color)   60%,
        var(--team-1)   60%, var(--team-1)     65%,
        var(--light-color) 65%, var(--light-color)   70%,
        var(--team-1)   70%, var(--team-1)     75%,
        var(--light-color) 75%, var(--light-color)   80%,
        var(--team-1)   80%, var(--team-1)     85%,
        var(--light-color) 85%, var(--light-color)   90%,
        var(--team-1)   90%, var(--team-1)     95%,
        var(--light-color) 95%, var(--light-color)  100%);
}

.team-2{
    background: var(--team-2);
}
.team-2 .team{
    background-color: var(--light-color);
}
.team-2-gradient{
    background: -webkit-radial-gradient(
        circle,
        var(--team-2)    0%, var(--team-2)      5%,
        var(--light-color)  5%, var(--light-color)   10%,
        var(--team-2)   10%, var(--team-2)     15%,
        var(--light-color) 15%, var(--light-color)   20%,
        var(--team-2)   20%, var(--team-2)     25%,
        var(--light-color) 25%, var(--light-color)   30%,
        var(--team-2)   30%, var(--team-2)     35%,
        var(--light-color) 35%, var(--light-color)   40%,
        var(--team-2)   40%, var(--team-2)     45%,
        var(--light-color) 45%, var(--light-color)   50%,
        var(--team-2)   50%, var(--team-2)     55%,
        var(--light-color) 55%, var(--light-color)   60%,
        var(--team-2)   60%, var(--team-2)     65%,
        var(--light-color) 65%, var(--light-color)   70%,
        var(--team-2)   70%, var(--team-2)     75%,
        var(--light-color) 75%, var(--light-color)   80%,
        var(--team-2)   80%, var(--team-2)     85%,
        var(--light-color) 85%, var(--light-color)   90%,
        var(--team-2)   90%, var(--team-2)     95%,
        var(--light-color) 95%, var(--light-color)  100%);
}

.guess{
    background: var(--guess);
}
.guess .team{
    background-color: var(--light-color);
}
.guess-gradient{
    background: -webkit-radial-gradient(
        circle,  
        var(--guess)    0%, var(--guess)      5%, 
        var(--light-color)  5%, var(--light-color)   10%,
        var(--guess)   10%, var(--guess)     15%,
        var(--light-color) 15%, var(--light-color)   20%,
        var(--guess)   20%, var(--guess)     25%,
        var(--light-color) 25%, var(--light-color)   30%,
        var(--guess)   30%, var(--guess)     35%,
        var(--light-color) 35%, var(--light-color)   40%,
        var(--guess)   40%, var(--guess)     45%,
        var(--light-color) 45%, var(--light-color)   50%,
        var(--guess)   50%, var(--guess)     55%, 
        var(--light-color) 55%, var(--light-color)   60%,
        var(--guess)   60%, var(--guess)     65%,
        var(--light-color) 65%, var(--light-color)   70%,
        var(--guess)   70%, var(--guess)     75%,
        var(--light-color) 75%, var(--light-color)   80%,
        var(--guess)   80%, var(--guess)     85%,
        var(--light-color) 85%, var(--light-color)   90%,
        var(--guess)   90%, var(--guess)     95%,
        var(--light-color) 95%, var(--light-color)  100%);
}

.guess-back{
    background: var(--guess-back);
}
.guess-back-gradient{
    background: -webkit-radial-gradient(
        circle,  
        var(--guess-back)    0%, var(--guess-back)      5%, 
        var(--light-color)  5%, var(--light-color)   10%,
        var(--guess-back)   10%, var(--guess-back)     15%,
        var(--light-color) 15%, var(--light-color)   20%,
        var(--guess-back)   20%, var(--guess-back)     25%,
        var(--light-color) 25%, var(--light-color)   30%,
        var(--guess-back)   30%, var(--guess-back)     35%,
        var(--light-color) 35%, var(--light-color)   40%,
        var(--guess-back)   40%, var(--guess-back)     45%,
        var(--light-color) 45%, var(--light-color)   50%,
        var(--guess-back)   50%, var(--guess-back)     55%, 
        var(--light-color) 55%, var(--light-color)   60%,
        var(--guess-back)   60%, var(--guess-back)     65%,
        var(--light-color) 65%, var(--light-color)   70%,
        var(--guess-back)   70%, var(--guess-back)     75%,
        var(--light-color) 75%, var(--light-color)   80%,
        var(--guess-back)   80%, var(--guess-back)     85%,
        var(--light-color) 85%, var(--light-color)   90%,
        var(--guess-back)   90%, var(--guess-back)     95%,
        var(--light-color) 95%, var(--light-color)  100%);
}

/*===================================================
                        LOADER
===================================================*/
.loader-container {
    position: relative;
    width: 50px;
    height: 50px;
}

.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 4px solid var(--test); /* Cambia colore qui se necessario */
    border-top: 4px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/*===================================================
                       MEDIA
===================================================*/
@media only screen and (max-width : 1000px){
    .game-img{
        display: none;
    }

    #tutorial-sec .row{
        padding: 1rem;
    }
    
    #tutorial-sec .row > div{
        width: 100%;
    }

    #tutorial-sec .row > div.content div:first-child{
        text-align: center;
    }
    .row .img-container{
        justify-content: center;
        padding-top: 1rem;
        min-height: 250px;
    }

    .message-box .content{
        width: 350px;
        padding: 1rem;
    }
}

/*===================================================
                       KEYFRAMES
===================================================*/

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes spring {
    50%  { width: 0%  ; }
    100% { width: 100%; }
}

@keyframes bounce {
    0% {
        transform:rotateY(180deg) rotateZ(-10deg) scale(1);
        filter: drop-shadow(0px 25px 25px #0006);
    }
    50% {
        transform:rotateY(180deg) rotateZ(-10deg) scale(1.05);
        filter: drop-shadow(0px 25px 25px #0004);
    }
    100% {
        transform: rotateY(180deg) rotateZ(-10deg) scale(1);
        filter: drop-shadow(0px 25px 25px #0006);
    }
}

@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

/*
    --card-gs-height : 4cm;
    --card-gs-width  : 2.4cm;
*/
@keyframes resize {
    4% {
        width : 2.4cm;
        height: 4cm;
    }
    21%, 29% {
        width : 3cm;
        height: 4cm;
    }
    46%, 54% {
        width : 3cm;
        height: 3cm;
    }
    71%, 79% {
        width : 2.4cm;
        height: 3cm;
    }
    96% {
        width : 2.4cm;
        height: 4cm;
    }
}

@keyframes resize-ratio {
    from{
        height: 230px;
        width:  230px;
    }
    to{
        height: 210px;
        width:  calc((210px * 4) / 5);
    }
}