:root{
    --team_1         : #006dd4;
    --team_1_l       : #0f9bf2;
    --team_2         : #db2020;
    --team_2_l       : #ff7878;
    --guess          : #e4b700;
    --guess_l        : #ffd738;
    --guess_back     : #6ccc61;
    --guess_back_l   : #97f38c;
    --test           : #a6a6a6;
    --test_l         : #dddddd;
    --card_header_fg : #000;
    --card_header_bg : #fff;

    --card_thickness : 0.25mm;
    --card_pl_height : 3cm;
    --card_pl_width  : 1.7cm;
    --card_gs_height : 4cm;
    --card_gs_width  : 2.4cm;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;

    /* border: 1px solid #0002; */
}

html,
body{
    font-family: 'Arial';
}

header{
    background-color: #0005;
    padding: 0.5rem 1rem;
    font-size: 1.3rem !important;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

main > section{
    text-align: center;
    padding: 3rem;
}

label, input{cursor: pointer;}
label{border-bottom: 1px solid #0000;}
label:hover{border-bottom: 1px solid #000;}

.btn{
    padding: .5rem 1rem;
    background-color: #fffb;
    border: none;
    border-bottom: 2px solid black;
    border-radius: 5px;
    transition: .5s ease-in-out;
    cursor: pointer;
}
.btn:hover{
    background-color: #fff;
    border-bottom: 2px solid #0005;
}

.team{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    gap: 15px;
}
.team_name{
    text-transform: uppercase;
    font-size: 2rem;
    padding: 0rem 1rem 1rem;
}

.front-back-wrapper{
    display: flex;
}

.card-bound{
    border-right: var(--card_thickness) solid black;
}

/*==================================================================
    CARDS
 t:   0,25mm
 w: 8,9mm 
 h:  12,7mm 
==================================================================*/
.gw-card{
    padding: calc(var(--card_pl_width) * 0.08);
}
.gw-card.big{
    padding: calc(var(--card_gs_width) * 0.08);
}

.gw-card.small{
    width  : var(--card_pl_width);
    height : var(--card_pl_height);
}

.gw-card.big{
    width  : var(--card_gs_width);
    height : var(--card_gs_height);
}

.gw-card .wrapper{
    height: 100%;
    border-radius: calc(var(--card_pl_width) * 0.05);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.gw-card.big .wrapper{
    border-radius: calc(var(--card_gs_width) * 0.05);
}

.gw-card_header{
    width: 100%;
    border-radius: inherit;
    font-size: calc(var(--card_pl_width) * 0.13);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: calc(var(--card_pl_width) * 0.05) 0;
    color:var(--card_header_fg);
    background-color: var(--card_header_bg);
}
.big .gw-card_header{
    font-size: calc(var(--card_gs_width) * 0.13);
    padding:   calc(var(--card_gs_width) * 0.03);

}

img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: bottom;
}

.gw-card .logo{
    margin: auto;
    font-size: var(--card_pl_width);
    font-weight: bold;
    color:#a31111;
    -webkit-text-stroke-color: var(--card_header_bg);
    -webkit-text-stroke-width: calc(var(--card_pl_width) * 0.02);
    text-shadow: 0px 0px calc(var(--card_pl_width) * 0.1) #000;
}

.big.gw-card .logo{
    font-size: var(--card_gs_width);
    -webkit-text-stroke-width: calc(var(--card_gs_width) * 0.02);
    text-shadow: 0px 0px calc(var(--card_gs_width) * 0.1) #000;
}

/*==================================================================
    CARD TEAMS
 team_1
 team_2
 guess
==================================================================*/
.team_1{
    background: var(--team_1);
}
.team_1_gradient{
    background: -webkit-radial-gradient(
        circle,
        var(--team_1)    0%, var(--team_1)      5%,
        var(--team_1_l)  5%, var(--team_1_l)   10%,
        var(--team_1)   10%, var(--team_1)     15%,
        var(--team_1_l) 15%, var(--team_1_l)   20%,
        var(--team_1)   20%, var(--team_1)     25%,
        var(--team_1_l) 25%, var(--team_1_l)   30%,
        var(--team_1)   30%, var(--team_1)     35%,
        var(--team_1_l) 35%, var(--team_1_l)   40%,
        var(--team_1)   40%, var(--team_1)     45%,
        var(--team_1_l) 45%, var(--team_1_l)   50%,
        var(--team_1)   50%, var(--team_1)     55%,
        var(--team_1_l) 55%, var(--team_1_l)   60%,
        var(--team_1)   60%, var(--team_1)     65%,
        var(--team_1_l) 65%, var(--team_1_l)   70%,
        var(--team_1)   70%, var(--team_1)     75%,
        var(--team_1_l) 75%, var(--team_1_l)   80%,
        var(--team_1)   80%, var(--team_1)     85%,
        var(--team_1_l) 85%, var(--team_1_l)   90%,
        var(--team_1)   90%, var(--team_1)     95%,
        var(--team_1_l) 95%, var(--team_1_l)  100%);
}

.team_2{
    background: var(--team_2);
}
.team_2_gradient{
    background: -webkit-radial-gradient(
        circle,
        var(--team_2)    0%, var(--team_2)      5%,
        var(--team_2_l)  5%, var(--team_2_l)   10%,
        var(--team_2)   10%, var(--team_2)     15%,
        var(--team_2_l) 15%, var(--team_2_l)   20%,
        var(--team_2)   20%, var(--team_2)     25%,
        var(--team_2_l) 25%, var(--team_2_l)   30%,
        var(--team_2)   30%, var(--team_2)     35%,
        var(--team_2_l) 35%, var(--team_2_l)   40%,
        var(--team_2)   40%, var(--team_2)     45%,
        var(--team_2_l) 45%, var(--team_2_l)   50%,
        var(--team_2)   50%, var(--team_2)     55%,
        var(--team_2_l) 55%, var(--team_2_l)   60%,
        var(--team_2)   60%, var(--team_2)     65%,
        var(--team_2_l) 65%, var(--team_2_l)   70%,
        var(--team_2)   70%, var(--team_2)     75%,
        var(--team_2_l) 75%, var(--team_2_l)   80%,
        var(--team_2)   80%, var(--team_2)     85%,
        var(--team_2_l) 85%, var(--team_2_l)   90%,
        var(--team_2)   90%, var(--team_2)     95%,
        var(--team_2_l) 95%, var(--team_2_l)  100%);
}

.guess{
    background: var(--guess);
}
.guess_gradient{
    background: -webkit-radial-gradient(
        circle,  
        var(--guess)    0%, var(--guess)      5%, 
        var(--guess_l)  5%, var(--guess_l)   10%,
        var(--guess)   10%, var(--guess)     15%,
        var(--guess_l) 15%, var(--guess_l)   20%,
        var(--guess)   20%, var(--guess)     25%,
        var(--guess_l) 25%, var(--guess_l)   30%,
        var(--guess)   30%, var(--guess)     35%,
        var(--guess_l) 35%, var(--guess_l)   40%,
        var(--guess)   40%, var(--guess)     45%,
        var(--guess_l) 45%, var(--guess_l)   50%,
        var(--guess)   50%, var(--guess)     55%, 
        var(--guess_l) 55%, var(--guess_l)   60%,
        var(--guess)   60%, var(--guess)     65%,
        var(--guess_l) 65%, var(--guess_l)   70%,
        var(--guess)   70%, var(--guess)     75%,
        var(--guess_l) 75%, var(--guess_l)   80%,
        var(--guess)   80%, var(--guess)     85%,
        var(--guess_l) 85%, var(--guess_l)   90%,
        var(--guess)   90%, var(--guess)     95%,
        var(--guess_l) 95%, var(--guess_l)  100%);
}

.guess_back{
    background: var(--guess_back);
}
.guess_back_gradient{
    background: -webkit-radial-gradient(
        circle,  
        var(--guess_back)    0%, var(--guess_back)      5%, 
        var(--guess_back_l)  5%, var(--guess_back_l)   10%,
        var(--guess_back)   10%, var(--guess_back)     15%,
        var(--guess_back_l) 15%, var(--guess_back_l)   20%,
        var(--guess_back)   20%, var(--guess_back)     25%,
        var(--guess_back_l) 25%, var(--guess_back_l)   30%,
        var(--guess_back)   30%, var(--guess_back)     35%,
        var(--guess_back_l) 35%, var(--guess_back_l)   40%,
        var(--guess_back)   40%, var(--guess_back)     45%,
        var(--guess_back_l) 45%, var(--guess_back_l)   50%,
        var(--guess_back)   50%, var(--guess_back)     55%, 
        var(--guess_back_l) 55%, var(--guess_back_l)   60%,
        var(--guess_back)   60%, var(--guess_back)     65%,
        var(--guess_back_l) 65%, var(--guess_back_l)   70%,
        var(--guess_back)   70%, var(--guess_back)     75%,
        var(--guess_back_l) 75%, var(--guess_back_l)   80%,
        var(--guess_back)   80%, var(--guess_back)     85%,
        var(--guess_back_l) 85%, var(--guess_back_l)   90%,
        var(--guess_back)   90%, var(--guess_back)     95%,
        var(--guess_back_l) 95%, var(--guess_back_l)  100%);
}

/*===================================================
                        LOADER
===================================================*/
.loader-container {
    position: relative;
    width: 50px;
    height: 50px;
}

.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 4px solid var(--test); /* Cambia colore qui se necessario */
    border-top: 4px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}