:root{
    --light_color    : #ffffff48;
    --team_1         : #006dd4;
    --team_2         : #db2020;
    --guess          : #e4b700;
    --guess_back     : #6ccc61;
    --hint           : #fffa;
    --test           : #a6a6a6;
    --test_l         : #dddddd;
    --card_header_fg : #000;
    --card_header_bg : #fff;

    --card_thickness : 0.25mm;
    --card_pl_height : 3cm;
    --card_pl_width  : 1.7cm;
    --card_gs_height : 4cm;
    --card_gs_width  : 2.4cm;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;

    /* border: 1px solid #0002; */
}

html,
body{
    font-family: 'Arial';
}

a{
    text-decoration: none;
}

li{
    margin-left: 1.5rem;
}

input{
    border: 0;
    background: #0000;
}

.title{
    font-size: clamp(2rem, 7dvw ,4.2rem);
    font-weight: bold;
    margin: 1rem 0;
}
.subtitle{
    font-size: clamp(1.1rem, 3dvw ,1.3rem);
    font-weight: normal;
    margin-bottom: 1rem;
}
.hint{
    font-weight: normal;
    color: var(--hint);
    margin-bottom: 1rem;
}

/* components */

header{
    min-height: 90dvh;
    padding: 0.5rem 1rem;
    font-size: 1.3rem !important;
    display: flex;
    flex-direction: column;
    position: relative;

    color: var(--card_header_bg);
    background: linear-gradient(45deg, var(--team_1), var(--team_2), var(--guess), var(--guess_back));
    background-size: 400% 400%;
    animation: gradientAnimation 15s infinite;
}
header::after{
    content: '';
    background-color: var(--light_color);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
}
header > *{
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
}

header .filters,
header .sizes{
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

header .sizes .input-wrapper{
    display: flex;
    gap : 10px;
    flex-grow: 1;
    /* flex-basis: 28rem; */
}
header .sizes .input-wrapper .input-container{
    width: 100%;
}

header .sizes .input-wrapper .input-container label{
    margin-top: 5px;
    display: flex;
    gap : 10px;
    align-items: center;
    width: 100%;
    color: #000;
}
header .sizes .input-wrapper .input-container label input{
    flex-grow: 1;
    width: 70px;
}

header > section{
    padding: 3rem;
    display: flex;
    flex-grow: 1;
}
header > section .hero{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
header > section .hero .description{
    max-width: 600px;
}
header > section .hero .description > * {
    margin-bottom: 5px;
}
header > section .hero .game-img img{
    object-fit: contain;
    transform:rotateY(180deg) rotateZ(-10deg) ;
    width: 100%;
    max-width: 450px;
    filter: drop-shadow(0px 25px 25px #0006);
    animation: bounce 3s ease-in-out infinite ;
}

main #paper{
    padding: 1rem;
}

main > section .title{
    text-align: center;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 280px;
}
.row:nth-child(even){
    background-color: #0003;
}
.row.reverse{
    flex-direction: row-reverse;
}
.row > div {
    width: 50%;
}
.row .img-container {
    display: flex;
    justify-content: right;
}
.row.reverse .img-container{
    justify-content: left;
}
.row .img-container img{
    object-fit: contain; 
    width: 230px;
}

label, input{cursor: pointer;}
label{border-bottom: 1px solid #0000;}
label:hover{border-bottom: 1px solid #000;}

.btn{
    padding: .5rem 1rem !important;
    background-color: #fffb;
    border: none;
    border-bottom: 2px solid;
    border-radius: 5px;
    transition: .5s ease-in-out;
    cursor: pointer;
}
.btn:hover{
    background-color: #fff;
    border-bottom: 2px solid #fffb;
}
.btn[for^="card-gs"]{
    color:var(--guess) !important;
}

.btn.call-to-action{
    max-width: 200px;
    margin-top: 1rem;
    color: #000 !important;;
}

.team_wrapper{
    border-radius: 20px;
    padding: 1rem 1rem 0.15rem;
    margin-bottom: 1rem ;
    color: white;
}
.team{
    border-radius: .5rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
    gap: 1rem;
}
.team_wrapper .team_name{
    text-transform: uppercase;
}

.front-back-wrapper{
    display: flex;
    align-items: center;
}

.card-bound{
    border-right: var(--card_thickness) solid black;
}

/*==================================================================
    CARDS
 t:   0,25mm
 w: 8,9mm 
 h:  12,7mm 
==================================================================*/
.gw-card{
    padding: calc(var(--card_pl_width) * 0.08);
}
.gw-card.big{
    padding: calc(var(--card_gs_width) * 0.08);
}

.gw-card.small{
    width  : var(--card_pl_width);
    height : var(--card_pl_height);
}

.gw-card.big{
    width  : var(--card_gs_width);
    height : var(--card_gs_height);
}

.gw-card .wrapper{
    height: 100%;
    border-radius: calc(var(--card_pl_width) * 0.05);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.gw-card.big .wrapper{
    border-radius: calc(var(--card_gs_width) * 0.05);
}

.gw-card_header{
    width: 100%;
    border-radius: inherit;
    font-size: calc(var(--card_pl_width) * 0.13);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: calc(var(--card_pl_width) * 0.05) 0;
    color:var(--card_header_fg);
    background-color: var(--card_header_bg);
    word-wrap: break-word;
}
.big .gw-card_header{
    font-size: calc(var(--card_gs_width) * 0.13);
    padding:   calc(var(--card_gs_width) * 0.03);
}

.gw-card img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: bottom;
}

.gw-card .logo{
    margin: auto;
    font-size: var(--card_pl_width);
    font-weight: bold;
    color:#a31111;
    -webkit-text-stroke-color: var(--card_header_bg);
    -webkit-text-stroke-width: calc(var(--card_pl_width) * 0.02);
    text-shadow: 0px 0px calc(var(--card_pl_width) * 0.1) #000;
}

.big.gw-card .logo{
    font-size: var(--card_gs_width);
    -webkit-text-stroke-width: calc(var(--card_gs_width) * 0.02);
    text-shadow: 0px 0px calc(var(--card_gs_width) * 0.1) #000;
}

.ratio{
    height: 230px;
    width:  230px;
    border: 5px dashed var(--team_2);
    display: flex;
    align-items: end;
    position: relative;
}
.ratio::after,
.ratio::before{
    position: absolute;
    text-align: center;
    padding: .3rem 0;
}

.ratio::before{
    content: '\2190  5 \2192';
    top:50%;
    left: .9rem;
    transform: translate(-50%, -50%) rotate(-90deg);

}
.ratio::after{
    content: '\2190  4 \2192';
    width: 100%;
    top:0;
}
.ratio img{
    display: block;
    object-fit: contain;
    height: 75%;
}

#tutorial-sec .row{
    padding: 1rem 10%;
}

#tutorial-sec .ratio{
    animation: resize_ratio 4s ease-in-out alternate infinite;
}

#tutorial-sec #card-example .gw-card{
    --card_gs_height : 4cm;
    --card_gs_width  : 2.4cm;
    animation: resize 8s ease-in-out infinite;
}

/*==================================================================
    CARD TEAMS
 team_1
 team_2
 guess
==================================================================*/
.team_1{
    background: var(--team_1);
}
.team_1 .team{
    background-color: var(--light_color);
}
.team_1_gradient{
    background: -webkit-radial-gradient(
        circle,
        var(--team_1)    0%, var(--team_1)      5%,
        var(--light_color)  5%, var(--light_color)   10%,
        var(--team_1)   10%, var(--team_1)     15%,
        var(--light_color) 15%, var(--light_color)   20%,
        var(--team_1)   20%, var(--team_1)     25%,
        var(--light_color) 25%, var(--light_color)   30%,
        var(--team_1)   30%, var(--team_1)     35%,
        var(--light_color) 35%, var(--light_color)   40%,
        var(--team_1)   40%, var(--team_1)     45%,
        var(--light_color) 45%, var(--light_color)   50%,
        var(--team_1)   50%, var(--team_1)     55%,
        var(--light_color) 55%, var(--light_color)   60%,
        var(--team_1)   60%, var(--team_1)     65%,
        var(--light_color) 65%, var(--light_color)   70%,
        var(--team_1)   70%, var(--team_1)     75%,
        var(--light_color) 75%, var(--light_color)   80%,
        var(--team_1)   80%, var(--team_1)     85%,
        var(--light_color) 85%, var(--light_color)   90%,
        var(--team_1)   90%, var(--team_1)     95%,
        var(--light_color) 95%, var(--light_color)  100%);
}

.team_2{
    background: var(--team_2);
}
.team_2 .team{
    background-color: var(--light_color);
}
.team_2_gradient{
    background: -webkit-radial-gradient(
        circle,
        var(--team_2)    0%, var(--team_2)      5%,
        var(--light_color)  5%, var(--light_color)   10%,
        var(--team_2)   10%, var(--team_2)     15%,
        var(--light_color) 15%, var(--light_color)   20%,
        var(--team_2)   20%, var(--team_2)     25%,
        var(--light_color) 25%, var(--light_color)   30%,
        var(--team_2)   30%, var(--team_2)     35%,
        var(--light_color) 35%, var(--light_color)   40%,
        var(--team_2)   40%, var(--team_2)     45%,
        var(--light_color) 45%, var(--light_color)   50%,
        var(--team_2)   50%, var(--team_2)     55%,
        var(--light_color) 55%, var(--light_color)   60%,
        var(--team_2)   60%, var(--team_2)     65%,
        var(--light_color) 65%, var(--light_color)   70%,
        var(--team_2)   70%, var(--team_2)     75%,
        var(--light_color) 75%, var(--light_color)   80%,
        var(--team_2)   80%, var(--team_2)     85%,
        var(--light_color) 85%, var(--light_color)   90%,
        var(--team_2)   90%, var(--team_2)     95%,
        var(--light_color) 95%, var(--light_color)  100%);
}

.guess{
    background: var(--guess);
}
.guess .team{
    background-color: var(--light_color);
}
.guess_gradient{
    background: -webkit-radial-gradient(
        circle,  
        var(--guess)    0%, var(--guess)      5%, 
        var(--light_color)  5%, var(--light_color)   10%,
        var(--guess)   10%, var(--guess)     15%,
        var(--light_color) 15%, var(--light_color)   20%,
        var(--guess)   20%, var(--guess)     25%,
        var(--light_color) 25%, var(--light_color)   30%,
        var(--guess)   30%, var(--guess)     35%,
        var(--light_color) 35%, var(--light_color)   40%,
        var(--guess)   40%, var(--guess)     45%,
        var(--light_color) 45%, var(--light_color)   50%,
        var(--guess)   50%, var(--guess)     55%, 
        var(--light_color) 55%, var(--light_color)   60%,
        var(--guess)   60%, var(--guess)     65%,
        var(--light_color) 65%, var(--light_color)   70%,
        var(--guess)   70%, var(--guess)     75%,
        var(--light_color) 75%, var(--light_color)   80%,
        var(--guess)   80%, var(--guess)     85%,
        var(--light_color) 85%, var(--light_color)   90%,
        var(--guess)   90%, var(--guess)     95%,
        var(--light_color) 95%, var(--light_color)  100%);
}

.guess_back{
    background: var(--guess_back);
}
.guess_back_gradient{
    background: -webkit-radial-gradient(
        circle,  
        var(--guess_back)    0%, var(--guess_back)      5%, 
        var(--light_color)  5%, var(--light_color)   10%,
        var(--guess_back)   10%, var(--guess_back)     15%,
        var(--light_color) 15%, var(--light_color)   20%,
        var(--guess_back)   20%, var(--guess_back)     25%,
        var(--light_color) 25%, var(--light_color)   30%,
        var(--guess_back)   30%, var(--guess_back)     35%,
        var(--light_color) 35%, var(--light_color)   40%,
        var(--guess_back)   40%, var(--guess_back)     45%,
        var(--light_color) 45%, var(--light_color)   50%,
        var(--guess_back)   50%, var(--guess_back)     55%, 
        var(--light_color) 55%, var(--light_color)   60%,
        var(--guess_back)   60%, var(--guess_back)     65%,
        var(--light_color) 65%, var(--light_color)   70%,
        var(--guess_back)   70%, var(--guess_back)     75%,
        var(--light_color) 75%, var(--light_color)   80%,
        var(--guess_back)   80%, var(--guess_back)     85%,
        var(--light_color) 85%, var(--light_color)   90%,
        var(--guess_back)   90%, var(--guess_back)     95%,
        var(--light_color) 95%, var(--light_color)  100%);
}

/*===================================================
                        LOADER
===================================================*/
.loader-container {
    position: relative;
    width: 50px;
    height: 50px;
}

.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 4px solid var(--test); /* Cambia colore qui se necessario */
    border-top: 4px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/*===================================================
                       MEDIA
===================================================*/
@media only screen and (max-width : 1000px){
    .game-img{
        display: none;
    }

    #tutorial-sec .row{
        padding: 1rem;
    }
    
    #tutorial-sec .row > div{
        width: 100%;
    }

    #tutorial-sec .row > div.content div:first-child{
        text-align: center;
    }
    .row .img-container{
        justify-content: center;
        padding-top: 1rem;
        min-height: 180px;
    }
}

/*===================================================
                       KEYFRAMES
===================================================*/

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes bounce {
    0% {
        transform:rotateY(180deg) rotateZ(-10deg) scale(1);
        filter: drop-shadow(0px 25px 25px #0006);
    }
    50% {
        transform:rotateY(180deg) rotateZ(-10deg) scale(1.05);
        filter: drop-shadow(0px 25px 25px #0004);
    }
    100% {
        transform: rotateY(180deg) rotateZ(-10deg) scale(1);
        filter: drop-shadow(0px 25px 25px #0006);
    }
}

@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

/*
    --card_gs_height : 4cm;
    --card_gs_width  : 2.4cm;
*/
@keyframes resize {
    4% {
        width : 2.4cm;
        height: 4cm;
    }
    21%, 29% {
        width : 3cm;
        height: 4cm;
    }
    46%, 54% {
        width : 3cm;
        height: 3cm;
    }
    71%, 79% {
        width : 2.4cm;
        height: 3cm;
    }
    96% {
        width : 2.4cm;
        height: 4cm;
    }
}

@keyframes resize_ratio {
    from{
        height: 230px;
        width:  230px;
    }
    to{
        height: 210px;
        width:  calc((210px * 4) / 5);
    }
}